
.container {
    background-image: url(../images/background.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 48px;
    height: 100vh;
    position: relative;
}
.content {
    font-family: sans-serif;
    max-width: 1030px;
    margin: 0 auto;
    
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 53px;
    margin-bottom: 26px;
}
.logo-image {
    display: block;
}

.icon-text {
    width: 100px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 20px;
    position: relative;
    top: 15px;
    cursor: pointer;

}

.icon:hover .logo-image{ 
    content: url(../images/logoorange.png);
    width: 100%;
}
.icon:hover .icon-text,
.icon:hover .logo-holidays {
    color: #F26522;
}
.logo-holidays {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.icon-logo {
display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;

}

.contacts:hover {
    color: #F26522;
}

.travel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 62px;
    row-gap: 37px;
}

.info-img-wrapper {

    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}



 .travel-info-link:hover .travel-info {
    bottom: 0px;
} 

.travel-info {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 55px;
    width: 100%;
    background-color: #F26522;
    color: white;
    padding: 7px 0px 12px 16px;
    position: absolute;
    bottom: -100px;
    transition: 1s;
   

}

.price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.from {
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.travel-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.details {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-size: 14px;
}
.details::after {
    content: url(/images/Vector.png);
    padding: 0 14px;
}

.travel-title {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    transition: 1s;
}

.travel-info-link:hover .travel-title {
    color: #F26522;

}

.copyright {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}
.travel-img {
    box-sizing: border-box;
    border: 3px solid;
    border-image: linear-gradient(to top, rgb(0, 0, 0), white) 1;
}