.container {
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

/* логотип */
.header-logo {
  margin-top: 63px;
  margin-bottom: 38px;
}

.header-logo-link {
  font-size: 80px;
  color: rgba(0, 247, 255, 0.945);
}

.letters-ra {
  color: #000000;
}

/* меню навігації header */
.nav-menu {
  margin-bottom: 48px;
  background-color: #35444f;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item-list > a {
  color: white;
}

.nav-item-list {
  padding: 26px 35px 19px;
  font-size: 24px;
  border-left: 1px solid white;
  transition: 0.5s;
}

.nav-item-list:last-child {
  border-right: 1px solid white;
}

.nav-item-list:hover {
  background-color: #222f3a;
}

/* основний контент сторінки і лівий aside */
.main {
  display: flex;
  justify-content: space-between;
}

.aside-list {
  width: 344px;
  border: 1px solid #000000;
}

.aside-link {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 35px;
  padding-top: 26px;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  transition: 0.5s;
  color: #495863;
}

.aside-link:hover {
  color: #000000;
  background-color: #dbdbdb;
  padding-left: 55px;
}

.info-section {
  width: 885px;
}
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  border: 1px solid #000000;
}

.picture {
  transition: 1s;
}
.picture:hover {
  transform: scale(1.2);
}

.info-section-content {
  padding-top: 34px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
/* меню footer */
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 54px;
  margin-bottom: 30px;
  padding: 20px 40px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-list {
  width: 875px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  padding-bottom: 12px;
  font-size: 28px;
  color: #0c1927;
  transition: 0.5s;
}

.footer-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  font-size: 24px;
  color: #010101;
}
