.container {
    font-family: 'Arimo';
    background-color: #3A4965;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table-box {
    background-color: #FAFAFA;
    text-transform: uppercase;

}

th, td {
padding: 22px 35px;
border-right: #EEEEEE;
box-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.27);
}

.table-name {
vertical-align: middle;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #484848;
}
.table-name-choose {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #484848;
}
.plan-std {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #89C331;
}
.plan-ult {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #F04A56;
}
.plan-prem {

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #20807C;
}
.price-wrapper {
    display: flex;
    align-items: center;
}

.price {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 60px;
    color: #484848;
}
.price >span {
position: absolute;
font-weight: 700;
font-size: 24px;
color: #484848;
top: -7px;
right: -33px;
}

.price-text {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #484848;
  

}


tr:nth-child(2n+3) {
    background-color: #F2F2F2;
    text-align: center;
font-weight: 400;
font-size: 16px;
color: #484848;
}
tr:nth-child(2n+4) {
    background: #E3E3E3;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #484848;

}
.contacts-td {
    background-color: #DDDDDD;;
}
.footer-btn-cont {
    cursor: pointer;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    background-color: #484848;
    box-shadow: inset 0px -8px 0px 0px #404040;
}
.footer-btn-std {
    cursor: pointer;
    text-transform: uppercase;
width: 195px;
height: 52px;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
border: none;
border-radius: 7px;
background-color: #89C331;
box-shadow: inset 0px -8px 0px 0px #79B027;
}

.footer-btn-ult{
    cursor: pointer;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    font-weight: 700;
font-size: 16px;
color: #FFFFFF;
border: none;
border-radius: 7px;
background-color: #F04A56;
box-shadow: inset 0px -8px 0px 0px #DF3A46;
}

.footer-btn-prem{
    cursor: pointer;
    text-transform: uppercase;
    width: 195px;
    height: 52px;
    font-weight: 700;
font-size: 16px;
color: #FFFFFF;
border: none;
border-radius: 7px;
background-color: #20807C;
box-shadow: inset 0px -8px 0px 0px #16736F;
}


.next-page {
    position: absolute;
    bottom: 9vh;
    right: 12%;
}
.arrow {
transition: 0.5s;
}
.arrow:hover {
    fill: rgba(255, 72, 0, 0.938);
    transform: scale(1.5);
}

