.container {
    font-family: 'Arimo';
    background-color: #3A4965;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table-box {
    background-color: #FAFAFA;
    text-transform: uppercase;


}
.colum-title {
    font-weight: 700;
    font-size: 20px;
    color: #484848;
}
.header {
    border-bottom: 14px solid #3A4965;
}

svg {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

th,
td {
    vertical-align: middle;
    text-align: center;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    padding: 22px 25px;
    border-right: #EEEEEE;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
}

.table-name {
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #484848;
}

.table-name-choose {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #484848;
}

.price-box-std {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #89C331;
}

.price-box-ult {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #F04A56;
}

.price-box-prem {

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #20807C;
}

.price-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 box-sizing: border-box;
}

.price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.price>span {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    top: -4px;
    right: 50%
}

.price-text {
    display: inline-block;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;


}


td:nth-child(2n), th:nth-child(2n)  {
    background-color: #E3E3E3;
 
}


.footer-btn {
    cursor: pointer;
    text-transform: uppercase;
    width: 147px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    background-color: #414141;
    box-shadow: inset 0px -8px 0px 0px #343434;
}


.next-page {
    position: absolute;
    bottom: 10vh;
    left: 12%;

}

.arrow {
    transition: 0.5s;
}

.arrow:hover {
    fill: rgba(255, 72, 0, 0.938);
    transform: scale(1.5);
}

/* *************************** next table****************************** */