
.space {
    background-image: url(../images/space.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
    width: 100vw;
    height: 100vh;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    width: 60vw;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    color: rgb(241, 245, 0);
    font-weight: 700;
    font-size: 60px;
    transform: perspective(300px) rotateX(20deg);
    transform-origin: 50% 90%;
    animation: follow-text 30s linear;
    animation-iteration-count:infinite;

}

@keyframes follow-text {
from {
    top: 100%;
    
}
to {
    top: -80%;
    
    }
}
