
.header-background {
background-image: url(../images/bg1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height:700px;

}

.dark-background {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    padding: 52px 200px 43px;
    top: 30px;
    left: 0;
    right: 0;
    background-color: white;
      
}

.logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #424F57;
}

.logo-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #14AFCA;
}

.nav-link {
    margin-left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #424F57;
    transition: 0.5s;
}
.nav-link:hover {
    color: #14AFCA;;
}
.slogan {
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    color: white;
    text-transform: uppercase;
    width: 1000px;
    top: 317px;
    left: calc(50% - 500px);
}

.what-wrapper {
    position: absolute;
    text-align: center;
    z-index: 2;
    height: 450px;
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    background-color: white;
    left: 0px;
    right: 0px;
    top:540px;
}

.what-title {
    margin-top: 122px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
}

.what-subtitle {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 75px;
color: #424F57;
}

.what-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.companies {
    background-image: url(../images/bg2.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    height: 900px;
    top: 200px;
    }

.companies-title {
    padding-top: 150px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
}
.companies-subtitle {
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    color: #FFFFFF;
}

.adobe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 99px;
    background-color: #FFFFFF;
}

.companies-logo {
    padding: 20px 210px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    row-gap: 120px;

}

.meet-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    background-color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 700px;
    z-index: 2;
}

.meet-us-title {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
}
.meet-us-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    color: #424F57;
}
.co-worker-wrapper {
    display: flex;
    justify-content: center;
}

.co-worker {
    width: 310px;
    margin: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.testimonials {
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    height: 750px;
    top:600px;

}

.testimonials-title {
    padding-top: 130px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
}

.testimonials-subtitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    color: #FFFFFF;
}

.testimonials-text {
    font-family: 'OpenSans';
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    color: #D3CCCC;
    margin-top: 48px;
    margin-bottom: 28px;
 }

 .testimonials-signature {
    display: block;
    font-family: 'OpenSans';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: right;
    margin-right: 600px;
 }

.why {
    position: relative;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 10%);
    background-color: white;
    text-align: center;
    top:340px;
}

.why-title {
padding-top: 150px;
text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 40px;
color: #14AFCA;
}

.why-subtitle {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 75px;
color: #424F57;
}

.why-text {
    text-transform: uppercase;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 48px;
letter-spacing: 0.75px;
color: #424F57;
}

.copyright {
padding-top: 96px;
padding-bottom: 86px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3D3C3C;
}

.copyright span {
    font-weight: 700;
    color: black;
}