.container {
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 60px;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.logo-name {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.logo-name:hover  {
    color: #01813F;
}

.links-wrapper {
    display: flex;
    align-items: center;
} 

.logo-link {
    padding-right: 25px;
    transition: 1s;
}

.logo-link-paht {
    transition: 0.5s;
}

.logo-link-icon:hover .logo-link-paht {
    fill: #01813F;
}

.check-in {
    padding-left: 27px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    
}
.check-in::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0px;
    top: -3px;
    transition: 0.5s;
}
.check-in:hover::before {
    opacity: 0.2;
}

.in, .up {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: 0.5s;
}
.in:hover, .up:hover {
    color: #01813F;
}


.modal-window {
    position: absolute;
    inset: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 31px 61px 38px;
    width: 444px;
    height: min-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);

}
.modal-window::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 29px;
    left: 0;
}

.modal-window-title {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  column-gap: 4px;
  margin-bottom: 30px;
}
.singup-href {
    text-align: start;
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.login-href {
    text-align: end;
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    transition: 0.5s;
}
.login-href:hover {
color: #01813F;
text-decoration: underline;
}

.facebook-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 17px 22px 17px 16px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #305DB8;
    border-radius: 3px;
    transition: 0.5s;
}
.facebook-button::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 1px;
    background-color: #0A162F;;
    left: 47px;
    opacity: 0.1;
}
.facebook-button:hover {
    background-color: #022263;
}


.google-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 17px 22px 17px 12px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #DF4A32;;
    border-radius: 3px;
    transition: 0.5s;
}
.google-button::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 1px;
    background-color: #2B0D09;
    left: 47px;
    opacity: 0.1;
}
.google-button:hover {
    background-color: #AB1F09;
}

.modal-window h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px;
}
.modal-window h4::before {
    content: '';
    position: absolute;
    top: calc(50% + 2px);
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}
.or {
    position: absolute;
    padding: 2px;
    background-color: #FFFFFF;
}

.modal-windiw-input {
    box-sizing: border-box;
    opacity: 0.7;
    width: 100%;
    margin-bottom: 15px;
    padding: 16px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #BEBEBE;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.modal-windiw-input:focus {
    opacity: 1;
    color: #434343;
    outline: none;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.checkbox {
display: none;
}
.apgrade-checkbox {
    display: inline-block;
    position: relative;
    margin-right: 11px;
    width: 14px;
    height: 14px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;

}
.apgrade-checkbox::before {
    content: url(../images/v.svg);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.checkbox:checked + .apgrade-checkbox::before {
    opacity: 1;
}

.checkbox-text {
font-weight: 400;
font-size: 14px;
color: #434343;
}

.checkbox-link {
    color: rgba(60, 184, 120, 0.8);
    transition: 0.5s;
}

.confirm-checkbox:hover > a {
    color: #01813F;
    text-decoration: underline;
}

.create-account {
    display: flex;
    align-content: center;
    margin-top: 20px;
    border: none;
    padding: 16px 99px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.create-account:hover {
background-color: #01813F;
}
