.container {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
}

.header-item-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.logo-polygon {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 56px;
  height: 67px;
  padding-left: 12px;
  margin-right: 6px;
  clip-path: polygon(53% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: #18cfab;
}

.the {
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}
.logo-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
}
.menu-wrapper {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 21px;
  transition: 0.7s color;
}

.menu-item::after {
  opacity: 0;
  top: 63px;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #18cfab;
  transition: 0.7s opacity;
}
.menu-item:hover {
  color: #18cfab;
}
.menu-item:hover::after {
  opacity: 0.7;
}

.slogan-section {
  background-image: url(../images/Sections_background/section-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}

.slogan.green {
  color: #18cfab;
}

.about-us {
  font-weight: 700;
  font-size: 78px;
  color: #ffffff;
  margin: 22px 0;
}

.just-buy {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 150px;
}

.slogan-section-buttons {
  display: flex;
}

.slogan-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px;
  width: 170px;
  height: 63px;
  margin-left: 26px;
  text-transform: uppercase;
  border: 1px solid unset;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

.slogan-button.green {
  background-color: #18cfab;
}

.slogan-button.blue {
  background-color: #00cbf6;
}

.advantage {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.advantage-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 106px 0;
  height: 377px;
}

.advantage-box-text {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.advantage-box.blue {
  background-color: #1c2a33;
  color: #18cfab;
}

.advantage-box.green {
  background-color: #18cfab;
  color: white;
}
/*                           ****************************************                                           */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  height: 76px;
  width: 194px;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  background: #f8fcfe;
  border: 1px solid #edefef;
  cursor: pointer;
  transition: 0.5s;
}

.direction:hover {
  border: 1.5px solid #18cfab;
}

.directions-names {
  display: flex;
  margin-bottom: 23px;

}

.directions-wrapper {
  width: 1160px;
  margin-bottom: 91px;
}

.direction-content {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.direction-content-img {
  display: block;
  max-width: 194px;
  margin-right: 15px;
}

.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-top: 83px;
  margin-bottom: 100px;
}

.section-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  bottom: -32px;
  transform: translateX(20%);
  background-color: #18cfab;
}

.section-title::before {
  position: absolute;
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  bottom: -26px;
  background-color: #18cfab;
}

.invisible {
  display: none;
}

.active {
  color: #ffffff;
  background-color: #18cfab;
  transition: 0.5s;
}

.direction.active::after {
  display: block;
  content: "";
  width: 27px;
  height: 15px;
  position: absolute;
  bottom: -15px;
  background-color: #18cfab;
  clip-path: polygon(100% 0, 0 0, 50% 100%);

}

/* *********************************************************************************** */
.text-bloc {
  background-image: url(../images/Sections_background/section-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 476px;
}

.dark {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.text-bloc-title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.text-bloc-subtitle {
  margin-bottom: 67px;
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
}

/* ********************************************************************************************* */

.aur-work {
  background: #e9edef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.our-work-filter {
  display: flex;
  margin-bottom: 70px;
}

.our-work-filter-item {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  padding: 15px;
  border: 2px solid #dadada;
  cursor: pointer;
  transition: 0.7s;
}

.our-work-filter-item:hover {
  border: 2px solid #18cfab;
}
.active-filter {
  border: 2px solid #18cfab;
}

.creative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -210px;
  background: #e9edef;
  border-top: 6px solid #18cfab;
  transition: 0.7s;
}

.creative-title {
  margin: 24px 0;
  font-weight: 700;
  font-size: 14.18px;
  text-transform: uppercase;
  color: #18cfab;
}

.creative-subtitle {
  font-weight: 300;
  font-size: 12.15px;
  color: #8a8a8a;
}

.our-work-img-bloc {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: 206px;
}

.load-img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 63px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  background-color: #18cfab;
  border: 1px solid #18cfab;
  border-radius: 5px;
  margin-top: 70px;
}

.load-img-btn > img {
  margin-right: 15px;
  margin-bottom: 5px;
}

.our-work-image-wrapper {
  position: relative;
  overflow: hidden;
}

.our-work-image-wrapper:hover .creative {
  bottom: 0px;
}

/* ************************************************************************************* */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 130px;
}

.news-date {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 70px;
  right: 0px;
  top: 0px;
  color: white;
  background-color: #203e38;
  word-wrap: break-word;
  transition: 0.7s;
}

.news-item:hover .news-date {
  background-color: #18cfab;
}

.news-item:hover .news-post {
  color: #18cfab;
  margin-left: 12px;
}

.news-item {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.news-item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  row-gap: 45px;
  column-gap: 35px;
  width: 1160px;
}

.news-post {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
  margin: 10px;
  transition: 0.7s;
}

.news-comments {
  position: relative;
}

.news-item > span {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  padding-left: 10px;
  padding-right: 24px;
}

.news-comments::after {
  content: "";
  position: absolute;
  background-color: #94939393;
  width: 1px;
  height: 14px;
  right: 5px;
}

/* ****************************************************************************** */
.feedback {
  background-image: url(../images/Sections_background/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.section-title.clients {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
}

.feedback-wrapper {
  width: 1160px;
  text-align: center;
  min-width: 0;
  padding-bottom: 84px;
}

.customer-feedback {
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}

.feedback-customer-name {
  margin-top: 37px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #18cfab;
}

.feedback-customer-profession {
  font-weight: 300;
  font-size: 16px;
  color: #bbbbbb;
}

.customer-photo-wrapper {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 56px;
  width: 166px;
  height: 166px;
  border: 11px solid #1fdab56c;
  border-radius: 50%;
  overflow: hidden;
}
.customer-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.photo-slider .swiper-button-next::after{
  position: absolute;
    background: rgba(0, 0, 0, 0.0001);
    box-sizing: content-box;
    top: 255px;
    right: 320px;
    color: #BBBBBB;
    font-size: 13px;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    line-height: 30px;
    width: 31px;
    height: 31px;
    transition: 0.5s;
}

.photo-slider .swiper-button-next:hover::after{
  background-color: #18cfab;
}

.photo-slider .swiper-button-prev::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: content-box;
  top: 255px;
  left: 320px;
  color: #BBBBBB;
  font-size: 13px;
  border: 1px solid #BBBBBB;
  border-radius: 3px;
  line-height: 30px;
  width: 31px;
  height: 31px;
  transition: 0.5s;
}
.photo-slider .swiper-button-prev:hover::after {
  background-color: #18cfab;
}

.mini-customer-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-box {
  display: inline-block;
  border: 6px solid #1fdab56c;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.mini-photo-slider-wrapper{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.mini-customer-photo-wrapper {
  display: contents;
}

.mini-photo-slider {
  width: 400px;
}

.swiper-slide-thumb-active {
  display: block;
}

/* **************************************************************************************************** */
.copyright {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 47px;
  width: 100%;
  background: #22353f;
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}

.footer-ham {
  color: #18cfab;
}